<div class="col-sm-8 col-sm-offset-2">





<div class="panel panel-default">
  <div class="panel-heading">
    <h1><%= @post.title %></h1>
  </div>
  <div class="panel-body">
     <p><%= @post.content %></p>
  </div>
  <div class="panel-footer">
    <h3><%= @post.author %></h3>
  </div>
</div>

  <%= link_to 'Volver a posts', posts_path %>

</div>

